.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 9px 16px;
  border-radius: 4px;
  line-height: 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
  min-width: 100px;
  user-select: none;

  & + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 12px;
}

.icon {
  width: 24px;
  font-size: 2rem;
}

.rounded {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-color: rgba(22, 24, 35, 0.12);
  border-radius: 999px;

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}

// button styles
.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);

  &:hover {
    border-color: var(--primary-color);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary-color);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

// button size
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 120px;
  padding: 10px 22px;
}

.text {
  &:hover {
    text-decoration: underline;
  }
}
