.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  margin-top: var(--default-layout-header-height);
  width: var(--default-layout-width);
  max-width: 100%;
}

.content {
  flex: 1;
}
