.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  &.active {
    color: var(--primary-color);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.title {
  margin-left: 10px;
}
