@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: rgba(254, 44, 85, 1);
  --black-color: #000;
  --text-color: #333;
  --white-color: #fff;

  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

}
